# all ignore
/*
/.**

# folder
!/.bin/**
!/.zsh/**

# shell
!/.bashrc
!/.zprofile
!/.zshrc


# editer
!/.vimrc/**

# terminal
!/starship.toml

# cli tools

# app

# git
!/.gitconfig
!/.gitignore

# others
!/LICENSE
!/README.md
